body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0b0b0b;
  color: #eaeaea;
}

.container {
  display: flex;
}

/* Sidebar */
.mobile-header {
  display: none;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
}

.sidebar {
  width: 120px;
  height: 100vh;
  border-right: 1px solid #222;
  padding: 30px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #0b0b0b;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-nav a, .sidebar-nav .active {
  color: #eaeaea;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.sidebar-nav a:hover {
  color: #7c5cff;
}

/* Projects */
.main {
  margin-left: 150px;
  padding: 60px;
  max-width: 1100px;
}

.hero {
  margin-bottom: 40px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.project-card {
  padding: 30px;
  border: 2px solid #222;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
  transition: all 0.25s;
}

.project-card:hover {
  transform: translateY(-3px);
}

.hover-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: #fff;
}

/* Work Icon */
.work-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: -30px;
  right: 0;
  background: #222;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.85rem;
  white-space: nowrap;
  color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  opacity: 0.95;
}


/* Certifications0 */

.certifications-page {
  margin-left: 150px;
  padding: 60px;
  max-width: 1100px;
}

.certifications-header {
  margin-bottom: 40px;
}

.certifications-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

.cert-card {
  background: #151515;
  border: 1px solid #222;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s, border-color 0.2s;
}

.cert-card:hover {
  transform: translateY(-3px);
  border-color: #7c5cff;
  cursor: pointer;
}

.cert-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.certifications-grid a {
  color: #eaeaea;
  text-decoration: none;
}

/* ABOUT */
.about-page {
  margin-left: 150px;
  padding: 60px;
  max-width: 1100px;
}

.about-header {
  margin-bottom: 40px;
}


/* MOBILE */
@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .main {
    margin-left: 0;
    padding: 30px;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #0b0b0b;
    border-bottom: 1px solid #222;
  }

  .sidebar {
    position: fixed;
    left: -220px;
    top: 0;
    width: 100px;
    height: 100vh;
    background: #0b0b0b;
    transition: left 0.3s;
    padding-top: 80px;
  }

  .sidebar.open {
    left: 0;
    width: 400px;
  }

  .certifications-page {
    margin-left: 10px;
    padding: 60px;
    max-width: 1100px;
  }

  .about-page {
    margin-left: 10px;
    padding: 60px;
    max-width: 1100px;
  }
}
